<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 align-center">Read and Save Your Intersted News</h1>
        <hr class="my-4">
        <p>This app scrapes news from <span class="newsSource"><a href="https://www.nytimes.com/" target="_blank">The
                    New York Times</a></span></p>
        <button type="button" class="btn btn-primary" id="scrapeNews">Scrape News!</button>
    </div>
</div>

<div class="container" id="news"></div>

<script src="/js/index.js"></script>